
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
   background:#1e1f26;
    color:white;
}

header{
    
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#2a2c36;
border-bottom:2px solid #ffb703;
}

.logo{
    font-size:32px;
    font-weight:bold;
    color:#ffb703;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    transition:0.3s;
}

nav a:hover{
    color:#ffb703;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:65px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#cfcfcf;
    margin-bottom:35px;
}

.btn{
    padding:15px 35px;
    background:#ffb703;
    color:white;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
    font-size:18px;
}

.btn:hover{
   background:#ffd166;
color:black;
}